.app {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    flex: 0 0 auto;
    overflow: hidden;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    line-height: 3;
    font-weight: bold;
}

.main {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    flex-direction: column;
    padding: 0 32px;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
}

.list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
    will-change: transform;
}

.item {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 16px;
    background-color: rgb(44, 44, 46);
    overflow: hidden;
    max-width: 75%;
    min-height: 68px;
    margin-bottom: 16px;
}

.item.odd {
    align-self: flex-end;
    background-color: rgb(10,132, 255);
}