html, body, #root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: calc(11px + 2vmin);
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 100%;
    background: black;
    color: white;
}
